html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-size: 67.5%;
}
/*PC styles*/
body{
	margin: 5%;
}

h1{
	font-size: 10rem;
	text-align: center;
}
.navBar{
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 3.75rem;
	background-color: cadetblue;
	align-items: center;
	justify-content: center;
}
.navigation, .navigation2{
	align-items: center;
	font-size: 3rem;
	width: 100%;
	text-indent: 43.5%;
}
.loginSignup{
	width: 10%;
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	font-size: 2rem;
	margin-right: 1%;
}
a{
	padding-left: 1rem;
	padding-right: 1rem;
	text-decoration: none;
	border: 2px solid black;
	border-right: 1px solid black;
	border-left: 1px solid black;
	margin: -0.25%;
}
.navButton3{
	border-right: 2px solid black;
}
.navButton1{
	border-left: 2px solid black;
}
h2{
	font-size: 6rem;
	text-align: center;
}
div.bodyParagraph{
	text-align: justify;
	margin-left: 30%;
	margin-right: 30%;
	font-size: 1.8rem;
	margin-top: 3%;
}
.navigation2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-indent: 0%;
	margin-top: 2.5%;
	background-color: cadetblue;
	
}
.closing{
	font-size: 3rem;
	text-align: center;
	margin-top: 4%;
	/* background-color: cornflowerblue; */
	width: 90%;
	text-indent: 10%;
}
a.navButton{
	border: none;
}
.login, .signUp{
	border: none;
}

@media(max-width: 1700px){
	img{
		width: 15rem;
		height: auto;
	}
	.Robert{
		height: 15rem;
		width: auto;
	}
	.ourNames{
		font-size: 1.4rem;
	}
	.loginSignup{
		width: 20%;
	}
}
@media(max-width: 1300px){
	.aboutUs{
		flex-direction: row;
		justify-content: space-evenly;
		margin: 15%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.ourNames{
		flex-direction: column;
	}
	.imagesOfUs{
		flex-direction: column;
	}
	img{
		margin-top: 1rem;
	}
	.closing{
		font-size: 2rem;
	}
	.navigation, .navigation2{
		font-size: 2rem;
	}
}
@media(max-width: 1000px){
	h1{
		font-size: 6rem;
	}
	h2{
		font-size: 4rem;
	}
	.loginSignup{
		font-size: 1.4rem;
		width: 25%;
	}
}
@media(max-width: 800px){
	.navBar{
		flex-direction: column;
		text-indent: 0%;
		height: 5rem;
		align-content: center;
	}
	.navigation, .navigation2{
		display: flex;
		text-indent: 0%;
		justify-self: center;
		justify-content: center;
		align-content: center;
		align-self: center;
	}
	.footing{
		display: flex;
		flex-direction: column;
		align-content: center;
	}
	img{
		margin-right: 2rem;
	}
	.fitness{
		align-self: center;
		justify-self: center;
		margin: 0;
		margin-top: 3rem;
		margin-bottom: 3rem;
		width: 35rem;
		height: auto;
	}
	h1{
		font-size: 4rem;
	}
	h2{
		font-size: 2.5rem;
	}
	div.bodyParagraph{
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1.5rem;
	}
}
@media(max-width: 500px){
	.closing{
		font-size: 1.5rem;
	}
	div.bodyParagraph{
		margin-left: 10%;
		margin-right: 10%;
		font-size: 1.2rem;
	}
}